h1 {
  color: #8d4210;
  margin-bottom: 20px;
  font-size: 45px;
  text-align: center;
}
table {
  border-collapse: collapse;
  background:#fdf6f0;
  border: none;
}
td {
  font-size: 22px;
  padding: 20px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #cccccc;
}
td:last-child {
  text-align: right;
  font-weight: bold;
  color: #8d4210;
}
tr:hover td {
    background: #f8e0b6;
}